* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  list-style-type: none;
}


/* Nav Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.navbar nav ul {
  list-style-type: none;
  padding: 20px 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
}

.menu-icon {
  display: none;
}

@media screen and (max-width:600px) {

  .navbar nav {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

/* Product detail */

.small-container {
  padding: 2rem 0;

}

.row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: .5rem;
}

.img {
  padding: 1.5rem 2rem;
  text-align: center;
}

.col-2 {
  flex: 1;
}

.col-2 h1 {
  font-size: 50px;
  margin: 1.3rem 0;
}

.col-2 h4 {
  font-size: 22px;
  margin: 1.3rem 0;
}

.col-2 input {
  font-size: 20px;
  color: #000;
  text-align: center;
  width: 40px;
  margin: 0 1.5rem 0 0;
  border: 2px solid #FF2300;
  padding: 0.5rem;

}

.col-2 input~a {
  padding: 0.4rem 0.8rem;
  background: #FF2300;
  color: #fff;
  border-radius: 20px;
}

.col-2 h3 {
  margin: 1.3rem 0 1rem;
}

.col-2 p {}

/* Header */
.row-2 {
  padding: 0 2rem;


  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .single-product .row {
    flex-flow: column wrap;
    justify-content: center;
  }
}

/*Related Books */


.flex {
  padding: 1.2rem 10vw;
  display: flex;
  overflow-x: auto;
  gap: 25px;
  scroll-behavior: smooth;
}

.flex .row {
  display: flex;
  gap: 25px;
}

.flex .col-4 {
  background: rgba(255, 255, 255, 1);
  color: #000;
  border-radius: 20px;
  padding: 0 0 1.5rem;
  border: 2px solid #5E5E5E;
  overflow: hidden;
}

.flex .col-4 h4 {
  margin: 0.5rem 0.4rem;
}

.flex p {
  margin: 0 0.4rem;
}

.
/* footer Section*/

footer {
  text-align: center;
  padding: 2rem 0;
  color: #fff;
  background: #000;
}

.foot-wrapper {
  text-align: centre;
  padding: 0 2rem;


  display: grid;
  grid-template-columns: 1fr;
}

.foot-col-1 {
  text-align: center;
  padding: 1rem;

}

.foot-col-1 .icons {
  display: flex;
  flex-flow: column wrap;
}

.foot-col-1 img {
  width: 30%;
  object-fit: contain;
  margin: 0.4rem auto;
}

.footer-col-2 {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-col-3,
.footer-col-4 {
  padding: 1.5rem;
  text-align: center;
  margin: 1.2rem;

}

footer hr {
  margin: 20px 0 20px;
}

@media screen and (min-width :600px) {

  .foot-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 150px 150px;
    justify-content: space-evenly;
  }

  .foot-col-1 {}

  .footer-col-3,
  .footer-col-4 {
    margin: 0;
  }

}