.table thead tr th .head {
  padding: 0;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.table tbody tr td {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle !important;
}

.active {
  color: #000000;
  font-weight: bolder;
  font-size: 20px;
}