table {
  width: 100%;
}

tr,
th,
td {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
  border: 1px solid #636363
}

td .col {
  background: #095CC9
}

.item {}

table td {
  padding: 0;
}

.quantity-seter {
  border: 2px solid red
}

tr th {
  padding: 20px 0 40px;
}