h1 {
  font-family: sans-serif;
}

.icon {
  text-align: center;
  padding: 16px 21px;
  box-sizing: border-box;
  background: #0dd6b8;
  border-radius: 50%;
}

/* Remove hover effect */
#table-top .dropdown .dropdown-toggle:focus,
#table-top .dropdown .dropdown-toggle:not(:focus), 
#table-top .dropdown .dropdown-toggle:hover{
  background-color: transparent;
  color: #1692CB;
  border: none;
  /* Change the color to your preference */
}

/* Remove click effect */
#table-top .dropdown .dropdown-toggle:active {
  background-color: transparent;
  color: #000;
  border: none;
  /* Change the color to your preference */
  box-shadow: none;
}


.separator+.row>.col {}